.vs
release
debug
output
obj
bin
*.suo
local-*
*.psess
*.vspx
install
install.zip
install_7z_sfx.exe
*install_7z_sfx
logs
*.fdb
packages
bower_components
!packages/repositories.config
nunit-result.xml
